.events-container {
  padding: 20px;
  text-align: center;
}

.events-container h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.events-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
}

.event-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.venue {
  color: #555;
}

.event-card button {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  background: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.event-card button:hover {
  background: #0059c9;
}
